<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            we are using render for data send from backend to frontend
        </h1>
        <h1>
            student name is {{name}}
        </h1>
{% if age > 10 %}

        <h1>
            student age is {{age}}
        </h1>
{% endif %}

{% for i in name %}
        <h1>{{i}}</h1>
    {% endfor %}

{% for j in hobbies %}
<h1>{{j}}</h1>
{% endfor %}

<h1> <a href="{% url 'ifconditions' %}">click to here we have to goto ifconditions</a></h1>
    </center>
</body>
</html>